{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}

{% block content %}

<br>
<body class="text-center">
<div class="container border border-dark">
    <form method="POST" class="form-register" style="color:black">
        {{form.hidden_tag()}}
        <h3> שלום </h3>
        <br>
        <h6> המערכת זיהתה על סמך הזנת הציונים שהגשת </h6>
        <h6>כי פרויקט של {{group_name}} ופרויקט של {{compare_name}} בעלות דירוג זהה</h6>
        <br><br>
        <h6>?מי טובה יותר לדעתך</h6>

        {% for subfield in form.select %}
        <tr>
            <td>{{ subfield(class="btn") }}</td>
            <td>{{ subfield.label}}</td>
        </tr>
        {% endfor %}
        {{form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
</div>
</body>

{% endblock %}
